  <section class="shop-by-department">
      <div class="container">
        <div>
          <div class="title-container">
            <h2>Shop by Department</h2>
            <p>Sitewide Discounts & Savings of up to 25%</p>
            <span></span>
          </div>

          <div class="row gap-3 gap-sm-0 department-main" *ngFor="let item of data">
       
            <div class="col-12 col-sm-6 col-md-4 col-xl-2 " >
              <div class="department-main__boxes">
                <a href="javascript:void(0)" class="gap-3">
                  <span class="icon-shape"><span class="path1"></span><span class="path2"></span><span
                      class="path3"></span><span class="path4"></span><span class="path5"></span><span
                      class="path6"></span></span>
                  <h3 class="fw-500 fs-5">Popular</h3>
                </a>
              </div>
             
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-2 ">
              <div class="department-main__boxes">
                <a href="javascript:void(0)" class="gap-3">
                  <span class="icon-chair"><span class="path1"></span><span class="path2"></span><span
                      class="path3"></span><span class="path4"></span><span class="path5"></span><span
                      class="path6"></span></span>
                  <h3 class="fw-500 fs-5">Chair</h3>
                </a>
              </div>
               
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 ">
                <div class="department-main__boxes">
                  <a href="javascript:void(0)" class="gap-3">
                    <span class="icon-table"><span class="path1"></span><span class="path2"></span><span
                        class="path3"></span><span class="path4"></span><span class="path5"></span><span
                        class="path6"></span></span>
                    <h3 class="fw-500 fs-5">Table</h3>
                  </a>
                </div>
               
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 ">
                <div class="department-main__boxes">
                  <a href="javascript:void(0)" class="gap-3">
                    <span class="icon-sofa"><span class="path1"></span><span class="path2"></span><span
                        class="path3"></span><span class="path4"></span><span class="path5"></span><span
                        class="path6"></span></span>
                    <h3 class="fw-500 fs-5">Sofa</h3>
                  </a>
                </div>
              
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 ">
                <div class="department-main__boxes">
                  <a href="javascript:void(0)" class="gap-3">
                    <span class="icon-cupboard"><span class="path1"></span><span class="path2"></span><span
                        class="path3"></span><span class="path4"></span><span class="path5"></span><span
                        class="path6"></span></span>
                    <h3 class="fw-500 fs-5">Cupboard</h3>
                  </a>
                </div>
               
              </div>
             
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 ">
                <div class="department-main__boxes">
                  <a href="javascript:void(0)" class="gap-3">
                    <span class="icon-lamp"><span class="path1"></span><span class="path2"></span><span
                        class="path3"></span><span class="path4"></span><span class="path5"></span><span
                        class="path6"></span></span>
                    <h3 class="fw-500 fs-5">Lamp</h3>
                  </a>
                </div>
               
              </div>
          
          </div>
        </div>
      </div>
    </section>