<main>
    <app-header></app-header>
    <app-nav-menu></app-nav-menu>
 <app-breadcrumb></app-breadcrumb>
    <!-- Sort By: Start -->
    <section class="sort-by">
      <div class="container">
      <app-sort-by></app-sort-by>
      </div>
    </section>
    <!-- Sort By: End -->

    <section class="products">
      <div class="container">
        <div class="products__content">
          <div class="products__filter">filter</div>

          <div class="products__details">
            <div class="products__description">
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-1"
                  role="tabpanel"
                  aria-labelledby="pills-1-tab"
                  tabindex="0"
                >
                  <div class="products__detail" >
                    
                    <div class="products__images">
                          <img
                            loading="lazy"
                            src="assets/images/chair.svg"
                            alt="Ultricies condimentum imperdiet"
                            title="Ultricies condimentum imperdiet"
                          />
  
                          <p>Ultricies condimentum imperdiet</p>
  
                          <div class="products__price">
                            <span>₹26.00</span>
                            <del>₹42.00</del>
                          </div>
                        </div>
                        <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/chair-1.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/chair-2.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-1.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-3.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-4.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-5.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-6.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                  </div>
                </div>

                <div
                  class="tab-pane fade"
                  id="pills-2"
                  role="tabpanel"
                  aria-labelledby="pills-2-tab"
                  tabindex="0"
                >
                <div class="products__detail" >
                    
                    <div class="products__images">
                          <img
                            loading="lazy"
                            src="assets/images/chair.svg"
                            alt="Ultricies condimentum imperdiet"
                            title="Ultricies condimentum imperdiet"
                          />
  
                          <p>Ultricies condimentum imperdiet</p>
  
                          <div class="products__price">
                            <span>₹26.00</span>
                            <del>₹42.00</del>
                          </div>
                        </div>
                        <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/chair-1.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/chair-2.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-1.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-3.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-4.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-5.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                          <div class="products__images">
                            <img
                              loading="lazy"
                              src="assets/images/box-6.svg"
                              alt="Ultricies condimentum imperdiet"
                              title="Ultricies condimentum imperdiet"
                            />
    
                            <p>Ultricies condimentum imperdiet</p>
    
                            <div class="products__price">
                              <span>₹26.00</span>
                              <del>₹42.00</del>
                            </div>
                          </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="products__tabs">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link fw-bold text-dark"
                    id="pills-<-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-<"
                    type="button"
                    role="tab"
                    aria-controls="pills-<"
                    aria-selected="false"
                  >
                    <
                  </button>
                </li>

                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active fw-bold"
                    id="pills-1-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-1"
                    type="button"
                    role="tab"
                    aria-controls="pills-1"
                    aria-selected="true"
                  >
                    1
                  </button>
                </li>

                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link fw-bold"
                    id="pills-2-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-2"
                    type="button"
                    role="tab"
                    aria-controls="pills-2"
                    aria-selected="false"
                  >
                    2
                  </button>
                </li>

                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link fw-bold text-dark"
                    id="pills->-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills->"
                    type="button"
                    role="tab"
                    aria-controls="pills->"
                    aria-selected="false"
                  >
                    >
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>