<footer class="footer">
    <!-- Primary Footer  -->
    <div class="footer__primary" aria-label="primary-footer">
      <div class="container">
        <div class="footer__content">
          <!-- 1st Start  -->

          <div>
            <h2 class="logo">NeoSTORE</h2>
            <!-- Search container  -->
            <div class="search-container">
              <form>
                <i class="fa-solid fa-envelope"></i>
                <input type="text" placeholder="Your email address" class="px-2" />
                <button class="btn btn-hover">subscribe</button>
              </form>
            </div>

            <!-- Contact Info -->
            <address class="footer__contact-info">
              <h6>Contact Info</h6>

              <div class=" mobile-number mt-3">
                <a href="tel:+91 12345 67890">+91 12345 67890</a>
                <span class="mx-3">|</span>
                <a href="tel:+91 12345 67890">+91 12345 67890</a>
              </div>

              <p>17 Princess Road, London, Greater London NW1 8JR, UK</p>

              <div class="social-media">
                <a href="javascript:void(0)" title="Facebook" class="facebook">
                  <i class="fa fa-facebook-f"></i>
                </a>

                <a href="javascript:void(0)" title="Instagram" class="instagram">
                  <i class="fa fa-instagram"></i>
                </a>

                <a href="javascript:void(0)" title="Twitter" class="twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
            </address>
          </div>

          <!-- 1st End  -->

          <!-- 2nd Start  -->

          <div class="mt-4 mt-xl-2">
            <h3>Catagories</h3>

            <!-- List  -->
            <ul>
              <li>
                <a href="javascript:void(0)">Popular</a>
              </li>
              <li>
                <a href="javascript:void(0)">Chair</a>
              </li>
              <li>
                <a href="javascript:void(0)">Table</a>
              </li>
              <li>
                <a href="javascript:void(0)">Sofa</a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  Cupboard
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">Lamp</a>
              </li>
            </ul>
          </div>

          <!-- 2nd End  -->

          <!-- 3rd Start  -->

          <div class="mt-4 mt-xl-2">
            <h3>Customer service</h3>

            <!-- List -->
            <ul>
              <li>
                <a href="javascript:void(0)">My Account</a>
              </li>

              <li>
                <a href="javascript:void(0)">Discount</a>
              </li>

              <li>
                <a href="javascript:void(0)">Returns</a>
              </li>

              <li>
                <a href="javascript:void(0)">Orders History</a>
              </li>

              <li>
                <a href="javascript:void(0)">Order Tracking</a>
              </li>

              <li>
                <a href="javascript:void(0)"></a>
              </li>
            </ul>
          </div>

          <!-- 3rd End  -->

          <!-- 4th Start  -->

          <div class="mt-4 mt-xl-2">
            <h3>Furniture</h3>

            <!-- List  -->
            <ul>
              <li>
                <a href="javascript:void(0)">Living Room Furniture</a>
              </li>
              <li>
                <a href="javascript:void(0)">Bar Furniture</a>
              </li>
              <li>
                <a href="javascript:void(0)">Bedroom Furniture</a>
              </li>
              <li>
                <a href="javascript:void(0)">Kids Furniture</a>
              </li>
              <li>
                <a href="javascript:void(0)">Accent Furniture</a>
              </li>
              <li>
                <a href="javascript:void(0)">Book Shelves</a>
              </li>
            </ul>
          </div>

          <!-- 4th End  -->

          <!-- 5th Start  -->

          <div class="mt-4 mt-xl-2">
            <h3>Useful links</h3>

            <!-- List  -->
            <ul>
              <li>
                <a href="javascript:void(0)">Promotions</a>
              </li>
              <li>
                <a href="javascript:void(0)">Sitemap</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 5th End  -->
      </div>
    </div>

    <!-- Secondary Footer  -->
    <div class="footer__secondary" aria-label="secondary-footer">
      ©Neostore - All Rights Reserved
    </div>
  </footer>