  <!-- NEW ARRIVALS Start  -->
  <section class="new-arrivals">
    <div class="container">
      <div class="row gap-2 gap-md-0">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="sofa-style gap-1">
            <h2>NEW ARRIVALS</h2>
            <h3>Sofa Style 2021</h3>
            <a href="javascript:void(0)" class="mt-2" title="Please Click">Shop now</a>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
          <div class="perfect-fit gap-1">
            <h2>NEW ARRIVALS</h2>
            <h3>Perfect fit for your home</h3>
            <a href="javascript:void(0)" class="mt-2" title="Please Click">Shop now</a>
          </div>
        </div>

        <div class="col-12 col-lg-3 mt-3 mt-lg-0">
          <div class="new-collection gap-1">
            <h2>NEW ARRIVALS</h2>
            <h3>New Collection</h3>
            <a href="javascript:void(0)" class="mt-2" title="Please Click">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- NEW ARRIVALS End -->