
<section class="banner">
    <div class="container">
      <div class=" banner-owl-carousel">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div class="item">
              <a href="javascript:void(0)">
                <div class="row">
                  <div class="col-5">
                    <div class="left">
                      <h3 class="mt-5 ps-3">
                        <span>Furniture</span> <span>2022</span>
                      </h3>
                      <b class="my-4">NEW ARRIVALS</b>
                      <h1><span>Spring</span> <span>Collection</span></h1>
                      <button class="btn btn-hover">Shop now</button>
                    </div>
                  </div>
          
                  <div class="col-7">
                    <img loading="lazy" src="/../assets/images/banner.PNG" alt="Spring Collection" title="Spring Collection" />
                  </div>
                </div>
              </a>
            </div></ng-template>  
            <ng-template carouselSlide>
              <div class="item">
                <a href="javascript:void(0)">
                  <div class="row">
                    <div class="col-5">
                      <div class="left">
                        <h3 class="mt-5 ps-3">
                          <span>Furniture</span> <span>2022</span>
                        </h3>
                        <b class="my-4">NEW ARRIVALS</b>
                        <h1><span>Spring</span> <span>Collection 2</span></h1>
                        <button class="btn btn-hover">Shop now</button>
                      </div>
                    </div>
          
                    <div class="col-7">
                      <img loading="lazy" src="/../assets/images/banner.PNG" alt="Spring Collection" title="Spring Collection" />
                    </div>
                  </div>
                </a>
              </div> </ng-template>  
            <ng-template carouselSlide> 
              <div class="item">
                <a href="javascript:void(0)">
                  <div class="row">
                    <div class="col-5">
                      <div class="left">
                        <h3 class="mt-5 ps-3">
                          <span>Furniture</span> <span>2022</span>
                        </h3>
                        <b class="my-4">NEW ARRIVALS</b>
                        <h1><span>Spring</span> <span>Collection 3</span></h1>
                        <button class="btn btn-hover">Shop now</button>
                      </div>
                    </div>
          
                    <div class="col-7">
                      <img loading="lazy" src="/../assets/images/banner.PNG" alt="Spring Collection" title="Spring Collection" />
                    </div>
                  </div>
                </a>
              </div></ng-template>  
           
          </owl-carousel-o>


      </div>
    </div>
  </section>