.furniture-list {
  @include backgroundImage("home-furniture", "svg");

  &__content {
    @extend %itemCenter;
    height: 153px;
    font-weight: 500;
    line-height: 20px;
    color: $black-900;

    > span {
      &:not(:first-child) {
        color: $primary;
      }

      &:nth-child(2) {
        padding-inline: 23px;
      }
    }
  }
}
