<section class="furniture-for-every-budget">
    <div class="container">
      <div class="title-container">
        <h2>FURNITURE FOR EVERY BUDGET</h2>
        <p>
          From glam vibes to laid-back comfort, these sofas all have one
          thing in common—and that's amazing value.
        </p>
        <span></span>
      </div>

      <!-- ROW Start  -->
      <div class="row gy-5">
        <!-- 1st box Start -->
        <div class="col-12 col-md-6 col-xl-4">
          <div class="card">
            <a href="javascript:void(0)">
              <img loading="lazy" src="assets/images/sofas-under-1.png" alt="Sofas under" title="Sofas under" />
            </a>
            <div class="card-body gap-2 flex-sm-row gap-sm-0">
              <div>
                <!-- TODO: Work  -->
                <h5 class="card-title fs-5 fw-500 m-0">Sofas under</h5>
                <span class="card-text text-primary fs-5 fw-500">₹12000.00</span>
              </div>
              <button class="btn btn-hover">Shop now</button>
            </div>
          </div>
        </div>
        <!-- 1nd Box End  -->

        <!-- 2nd Box Start  -->
        <div class="col-12 col-md-6 col-xl-4">
          <div class="card border-0 overflow-hidden rounded-0">
            <a href="javascript:void(0)">
              <img loading="lazy" src="assets/images/sofas-under-2.png" alt="Sofas under" title="Sofas under" />
            </a>
            <div
              class="card-body d-flex flex-column gap-2 align-items-center justify-content-between flex-sm-row gap-sm-0 bg-black-200">
              <div>
                <h5 class="card-title fs-5 fw-500 m-0">Sofas under</h5>
                <span class="card-text text-primary fs-5 fw-500">₹12000.00</span>
              </div>
              <button class="btn btn-hover">Shop now</button>
            </div>
          </div>
        </div>
        <!-- 2nd Box End  -->

        <!-- 3rd Box Start  -->
        <div class="col-12 col-xl-4">
          <div class="card border-0 overflow-hidden rounded-0">
            <a href="javascript:void(0)">
              <img loading="lazy" src="assets/images/sofas-under-3.png" alt="Sofas under" title="Sofas under" />
            </a>
            <div
              class="card-body d-flex flex-column gap-2 align-items-center justify-content-between flex-sm-row gap-sm-0 bg-black-200">
              <div>
                <h5 class="card-title fs-5 fw-500 m-0">Sofas under</h5>
                <span class="card-text text-primary fs-5 fw-500">₹12000.00</span>
              </div>
              <button class="btn btn-hover">Shop now</button>
            </div>
          </div>
        </div>
        <!-- 3rd Box End  -->
      </div>
      <!-- ROW End -->
    </div>
  </section>