
<app-header></app-header>
<app-nav-menu></app-nav-menu>
<app-banner></app-banner>
<app-shop-by-department></app-shop-by-department>
<app-trending></app-trending>
<app-special-offer></app-special-offer>
<app-need-it-fast></app-need-it-fast>
<app-furniture-for-budget></app-furniture-for-budget>
<app-best-sellers></app-best-sellers>
<app-new-arrivals></app-new-arrivals>
<app-from-our-blog></app-from-our-blog>
<app-neostore-furniture></app-neostore-furniture>
<app-signup-for></app-signup-for>
<app-footer></app-footer>