@import "scss/utilities/_utilities-dir";


.login-container {
  background-image: url(../../../assets/images/login-mobile-bg.svg);
    
  
    @include media-breakpoint-up(md) {
      background: none;
    }
  }
  
  .login {
    width: 100%;
    min-height: 100vh;
    padding-block: 16px;
  
    @include media-breakpoint-up(md) {
      min-height: auto;
    }
  
    @include media-breakpoint-up(lg) {
      min-height: calc(100vh - 44px);
    
    }
  
    &__continue {
      align-self: center;
      width: 271px;
      border-radius: 2px;
      background-color: $white;
      color: $primary;
      font-weight: 500;
  
      &:hover {
        border: 1px solid hsl(0, 100%, 37%) !important;
        color: hsl(0, 100%, 37%) !important;
        background: hsl(0, 0%, 100%) !important;
      }
  
      @include media-breakpoint-up(md) {
        background-color: $primary;
        color: $white;
  
        &:hover {
          border: 1px solid $primary;
          color: $primary;
        }
      }
    }
  
    > h1 {
      text-align: center;
      font-weight: 700;
      font-size: rem(30);
      line-height: 45px;
      letter-spacing: 0.05em;
      color: $white;
  
      @include media-breakpoint-up(md) {
        color: $primary;
      }
  
      @include media-breakpoint-up(lg) {
        text-align: start;
      }
    }
  
    > div {
      display: flex;
      align-items: center;
  
      @include media-breakpoint-up(md) {
        flex-direction: column;
        gap: 30px;
        height: auto;
      }
  
      @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        height: calc(100% - 45px);
      }
  
      .login__img {
        display: none;
        margin-inline: auto;
  
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
  
      > form {
        @extend %flexCenter;
        min-width: 100%;
        min-height: 556px;
        border-radius: 20px;
        background: transparent;
        box-shadow: 0 0px 15px 2px rgba($black, 0.06);
  
        @include media-breakpoint-up(md) {
          min-width: 451px;
          background: $white;
        }
  
        .login__form {
          @extend %flexColumn;
          flex: 1;
          justify-content: space-between;
          min-height: 428px;
  
          @include media-breakpoint-up(md) {
            min-width: 372px;
            flex: 0;
          }
  
          > h2 {
            text-align: center;
            color: $white;
            font-weight: 700;
            font-size: rem(24);
            line-height: 23px;
            text-transform: uppercase;
  
            @include media-breakpoint-up(md) {
              color: $red;
            }
          }
  
          .login-field {
            &__content {
              > label {
                font-weight: 700;
                font-size: rem(14);
                line-height: 13px;
                color: $white;
                margin-bottom: 12px;
  
                @include media-breakpoint-up(md) {
                  color: $gray-400;
                }
              }
  
              > input {
                padding: 12.5px 15px;
                border: 1px solid #cbcbd4;
                border-radius: 6px;
                margin-bottom: 11px;
                font-size: rem(14);
                font-weight: 500;
                background-color: $white;
  
                &::placeholder {
                  font-weight: 400;
                  font-size: rem(14);
                  line-height: 20px;
                  color: $black-700;
  
                  @include media-breakpoint-up(md) {
                    color: hsl(0, 3%, 43%);
                  }
                }
  
                &:focus {
                  outline: 0;
                  box-shadow: none;
                }
              }
            }
  
            &__forget-password {
              font-size: rem(12);
              line-height: 14px;
              color: $white;
              float: right;
  
              @include media-breakpoint-up(md) {
                color: $gray-300;
              }
  
              &:hover {
                color: $white;
                @include scale();
                @include transition(transform, color);
  
                @include media-breakpoint-up(md) {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  
    &__new-user {
      text-align: center;
      font-size: rem(14);
      line-height: 17px;
      color: $white;
  
      @include media-breakpoint-up(md) {
        color: $black-600;
      }
  
      > a {
        font-weight: 500;
        font-size: rem(16);
        line-height: 19px;
        color: $white;
  
        @include media-breakpoint-up(md) {
          color: $black-600;
        }
  
        &:hover {
          color: $white;
          @include scale();
          @include transition(transform, color);
  
          @include media-breakpoint-up(md) {
            color: $primary;
          }
        }
      }
    }
  }
  