<section class="need-it-fast">
    <div class="container">
      <div class="row">
        <!-- 1st row Start  -->
        <div class="col-12 col-lg-6">
          <div class="need-it-fast__img-container">
            <img loading="lazy" src="assets/images/need-it-fast.png" alt="Need it fast?" title="Need it fast?" />

            <div class="need-it-fast__shop-now">
              <img src="assets/images/corner-design.png" class="corner-design" />

              <div>
                <p>SOFA & CHAIRS</p>
                <h2>Need it fast?</h2>
                <span>See what's in stock!</span>
                <a href="javascript:void(0)">Shop now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- 1st row End -->

        <!-- 2nd row Start  -->
        <div class=" col-12 col-lg-6 mt-4 mt-lg-0 px-lg-0">
          <div class="need-it-fast__right">
  <!-- inner row Start -->
  <div class="row h-100 gap-3 gap-md-0">
    <!-- inner 1st row Start -->
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body pt-0 px-0 pb-lg-0">
          <a href="javascript:void(0)">
            <img loading="lazy" src="assets/images/bedding-sets.png" alt="Bedding Sets" title="Bedding Sets" />
          </a>
          <div class="card-discount">
            20%
              OFF
            </div>
        </div>

        <div class="card-footer ps-lg-0">
          <a href="javascript:void(0)" class="card-title">
            Bedding Sets
          </a>
          <div class="card-text">Floral Tales Collection</div>
        </div>
      </div>
    </div>
    <!-- inner 1st row End -->

    <!-- inner 2nd row Start -->
    <div class="col-12 col-md-6 ps-lg-0">
      <div class="card">
        <div class="card-body pt-0 px-0 pb-lg-0">
          <a href="javascript:void(0)">
            <img loading="lazy" src="assets/images/soleil-dining-chair.png" alt="Soleil Dining Chair"
              title="Soleil Dining Chair" />
          </a>
          <div class="card-discount">
            20%
              OFF
            </div>
        </div>

        <div class="card-footer ps-lg-0">
          <a href="javascript:void(0)" class="card-title">
            Soleil Dining Chair
          </a>
          <div class="card-text">lightweight chair</div>
        </div>
      </div>
    </div>
    <!-- inner 2nd row End -->

    <!-- inner 3rd row Start -->
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body pt-0 px-0 pb-lg-0">
          <a href="javascript:void(0)">
            <img loading="lazy" src="assets/images/living-sets.png" alt="Living Sets" title="Living Sets" />
          </a>
          <div class="card-discount">
            20%
              OFF
            </div>
        </div>

        <div class="card-footer ps-lg-0">
          <a href="javascript:void(0)" class="card-title">
            Living Sets
          </a>
          <div class="card-text">Easy-to-match shade of beige.</div>
        </div>
      </div>
    </div>
    <!-- inner 3rd row End -->

    <!-- inner 4th row Start -->
    <div class="col-12 col-md-6 ps-lg-0">
      <div class="card">
        <div class="card-body pt-0 px-0 pb-lg-0">
          <a href="javascript:void(0)">
            <img loading="lazy" src="assets/images/outdoor-sets.png" alt="Outdoor Sets" title="Outdoor Sets" />
          </a>
          <div class="card-discount">
            20%
              OFF
            </div>
        </div>

        <div class="card-footer ps-lg-0">
          <a href="javascript:void(0)" class="card-title">
            Outdoor Sets
          </a>
          <div class="card-text">Simplest design solutions</div>
        </div>
      </div>
    </div>
    <!-- inner 4th row End -->
  </div>
  <!-- inner row End -->
          </div>
        
        </div>
        <!-- 2nd row End -->
      </div>
    </div>
  </section>