<section class="trending pb-5 mb-5">
    <div class="container">
      <div class="title-container">
        <h2>TRENDING</h2>
        <p>
          Explore a wide range of affordable, well-designed and functional
          home furnishing solutions
        </p>
        <span></span>
      </div>

      <!-- ROW Start  -->
      <div class="row trending-main">
        <!-- 1st box Start -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-12 ">
          <div class="trending-main__boxes">
            <a href="javascript:void(0)" class="gap-3">
              <div class="card">
                <img loading="lazy" src="assets/images/chair.png" alt="Chair" title="Chair" />
                <div class="card-body px-0">
                  <h5 class="card-title">White Wooden Chair</h5>
                  <span class="card-text">₹1200.00</span>
                </div>
              </div>
            </a>
          </div>
          
        </div>
        <!-- 1nd Box End  -->

        <!-- 2nd Box Start  -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-12">
          <div class=" trending-main__boxes">
            <a href="javascript:void(0)" class="gap-3">
              <div class="card">
                <img loading="lazy" src="assets/images/sofa.png" alt="Sofa" title="Sofa" />
                <div class="card-body px-0">
                  <h5 class="card-title">Modern Sofa Couch with Wood</h5>
                  <span class="card-text">₹1200.00</span>
                </div>
              </div>
            </a>
          </div>
          
        </div>
        <!-- 2nd Box End  -->

        <!-- 3rd Box Start  -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-12 ">
          <div class="trending-main__boxes">
            <a href="javascript:void(0)" class="gap-3">
              <div class="card">
                <img loading="lazy" src="assets/images/chair1.png" alt="Chair" title="Chair" />
                <div class="card-body px-0">
                  <h5 class="card-title">Armen Living Jaguar Chair</h5>
                  <span class="card-text">₹1200.00</span>
                </div>
              </div>
            </a>
          </div>
         
        </div>
        <!-- 3rd Box End  -->

        <!-- 4th Box Start  -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-12 ">
          <div class="trending-main__boxes">
            <a href="javascript:void(0)" class="gap-3">
              <div class="card">
                <img loading="lazy" src="assets/images/wallclock.png" alt="Modern clock" title="Modern clock" />
                <div class="card-body px-0">
                  <h5 class="card-title">Modern clock</h5>
                  <span class="card-text">₹1200.00</span>
                </div>
              </div>
            </a>
          </div>
        
        </div>
        <!-- 4th Box End  -->

        <!-- 5th Box Start  -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-12">
          <div class=" trending-main__boxes">
            <a href="javascript:void(0)" class="gap-3">
              <div class="card">
                <img loading="lazy" src="assets/images/lamp.png" alt="Globe Desk Lamp" title="Globe Desk Lamp" />
                <div class="card-body px-0">
                  <h5 class="card-title">Globe Desk Lamp</h5>
                  <span class="card-text">₹1200.00</span>
                </div>
              </div>
            </a>
          </div>
         
        </div>
        <!-- 5th Box End  -->
      </div>
      <!-- ROW End -->
    </div>
  </section>