<!-- #NEOSTOREfurniture Start  -->
<section class="neostorefurniture">
    <div class="container">
      <div class="title-container">
        <h2>#NEOSTOREfurniture</h2>
        <p>Use #neostore on your post for a chance to be featured!</p>
        <span></span>
      </div>
    </div>
      <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
         <div class="furniture-item">
        <img loading="lazy" src="assets/images/furniture-item-1.png" alt="Perfect fit for your home"
          title="Perfect fit for your home" />
        <!-- <span class="icon-Vector position-absolute"></span> -->
      </div></ng-template>  
    <ng-template carouselSlide>
         <div class="furniture-item">
        <img loading="lazy" src="assets/images/furniture-item-2.png" alt="Perfect fit for your home"
          title="Perfect fit for your home" />
      </div></ng-template>  
    <ng-template carouselSlide>
         <div class="furniture-item">
        <img loading="lazy" src="../../../../assets/images/furniture-item-3.png" alt="Perfect fit for your home"
          title="Perfect fit for your home" />
      </div></ng-template>  
      <ng-template carouselSlide>
        <div class="furniture-item">
       <img loading="lazy" src="assets/images/furniture-item-1.png" alt="Perfect fit for your home"
         title="Perfect fit for your home" />
       <!-- <span class="icon-Vector position-absolute"></span> -->
     </div></ng-template>  
   <ng-template carouselSlide>
        <div class="furniture-item">
       <img loading="lazy" src="assets/images/furniture-item-2.png" alt="Perfect fit for your home"
         title="Perfect fit for your home" />
     </div></ng-template>  
   <ng-template carouselSlide>
        <div class="furniture-item">
       <img loading="lazy" src="../../../../assets/images/furniture-item-3.png" alt="Perfect fit for your home"
         title="Perfect fit for your home" />
     </div></ng-template> 
  </owl-carousel-o>
    

  </section>
  <!-- #NEOSTOREfurniture End -->
