 <!-- From Our Blog Start   -->
 <section class="from-our-blog">
    <div class="container">
      <div class="title-container">
        <h2>From Our Blog</h2>
        <p>
          See how our customers have styled davici products in their home
        </p>
        <span></span>
      </div>

      <!-- ROW Start  -->
      <div class="row gy-5">
        <div class="col-12 col-lg-4">
            <div class="card border-0 overflow-hidden rounded-0">
              <div class="position-relative">
                <img
                  loading="lazy"
                  src="assets/images/perfect-bedroom-corner-chair.png"
                  alt="Bedroom CHAIR"
                  title="Bedroom CHAIR"
                  class="from-our-blog__image w-100"
                />
                <time
                  class="date position-absolute d-flex flex-column align-items-center justify-content-center"
                  title="Today Date"
                >
                <h2 class="fw-bold pb-1 day" >28</h2>
                <h3 class="fw-500 h6 m-0 pt-1 month" >NOV</h3>
                </time>
              </div>

              <div class="card-body border border-1 border-top-0">
                <h4 class="fs-12 text-primary text-uppercase text-center">
                  <b>Bedroom CHAIR</b>
                </h4>
                <h3 class="fs-5 fw-500 text-center mt-2">
                    Perfect Bedroom Corner Chair
                </h3>
              </div>

              <article class="card-body border border-1 border-top-0">
                <p class="fs-14 fw-300 text-center">
                    An accent chair is a great focal point, adds contrast, and
                    complements the room's decor.
                </p>
                <a
                  href="javascript:void(0)"
                  class="fw-500 fs-14 text-center d-block mt-4"
                  title="Please Check"
                >
                  READ MORE
                </a>
              </article>
            </div>
          </div>
        
          <div class="col-12 col-lg-4">
            <div class="card border-0 overflow-hidden rounded-0">
              <div class="position-relative">
                <img
                  loading="lazy"
                  src="assets/images/furniture.png"
                  alt="FURNITURE"
                  title="FURNITURE"
                  class="from-our-blog__image w-100"
                />
                <time
                  class="date position-absolute d-flex flex-column align-items-center justify-content-center"
                  title="Today Date"
                >
                <h2 class="fw-bold pb-1 day" >28</h2>
                <h3 class="fw-500 h6 m-0 pt-1 month" >NOV</h3>
                </time>
              </div>

              <div class="card-body border border-1 border-top-0">
                <h4 class="fs-12 text-primary text-uppercase text-center">
                  <b>FURNITURE"</b>
                </h4>
                <h3 class="fs-5 fw-500 text-center mt-2">
                    A Beautiful Sunday Morning
                </h3>
              </div>

              <article class="card-body border border-1 border-top-0">
                <p class="fs-14 fw-300 text-center">
                    Color sets the tone for any space and dramatically impacts
                    the room's atmosphere.
                </p>
                <a
                  href="javascript:void(0)"
                  class="fw-500 fs-14 text-center d-block mt-4"
                  title="Please Check"
                >
                  READ MORE
                </a>
              </article>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card border-0 overflow-hidden rounded-0">
              <div class="position-relative">
                <img
                  loading="lazy"
                  src="assets/images/dining-chair.png"
                  alt="Bedroom CHAIR"
                  title="Bedroom CHAIR"
                  class="from-our-blog__image w-100"
                />
                <time
                  class="date position-absolute d-flex flex-column align-items-center justify-content-center"
                  title="Today Date"
                >
                  <h2 class="fw-bold pb-1 day" >28</h2>
                  <h3 class="fw-500 h6 m-0 pt-1 month" >NOV</h3>
                </time>
              </div>

              <div class="card-body border border-1 border-top-0">
                <h4 class="fs-12 text-primary text-uppercase text-center">
                  <b>DINING CHAIR</b>
                </h4>
                <h3 class="fs-5 fw-500 text-center mt-2">
                    Maximally Design Style
                </h3>
              </div>

              <article class="card-body border border-1 border-top-0">
                <p class="fs-14 fw-300 text-center">
                    A maximalist space is interesting to look at. Contrast and
                    color are everything.
                </p>
                <a
                  href="javascript:void(0)"
                  class="fw-500 fs-14 text-center d-block mt-4"
                  title="Please Check"
                >
                  READ MORE
                </a>
              </article>
            </div>
          </div>
      </div>
      <!-- ROW End -->
    </div>
  </section>
  <!-- From Our Blog End  -->