<section class="sign-up-for">
    <div class="container">
      <div>
        <h2>SIGN UP FOR NEWS & OFFERS!</h2>
        <p class="mt-2">
          Subscribe to the weekly newsletter for all the latest updates
        </p>

        <form class="form-container mt-5">
          <input type="text" placeholder="Enter your email" class="pb-2" />

          <button type="submit" class="pb-2">
            <span class="icon-Vector-1"></span>
          </button>
        </form>
      </div>
    </div>
  </section>