<div aria-label="secondary-header" class="header__secondary">
    <div class="container">
      <nav class="nav">
        <a href="javascript:void(0)" class="logo">
          <span>NeoSTORE</span>
          <button id="sideMenu">
            <span class="icon-menu-icon"></span>
          </button>
        </a>

        <div id="sidebar">
          <button id="closeMenu">
            <span class="icon-close-icon"></span>
          </button>
          <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Furniture</a></li>
            <li><a href="javascript:void(0)">Home Décor </a></li>
            <li><a href="javascript:void(0)"> Blog </a></li>
            <li><a href="javascript:void(0)">Sale</a></li>
            <li><a href="javascript:void(0)">More</a></li>
          </ul>
        </div>

        <div class="right">
          <form>
            <input type="text" placeholder="Search.." />
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>

          <div class="icons">
            <a href="javascript:void(0)"><span class="icon-Group-2"></span></a>
            <a href="javascript:void(0)"><span class="icon-Shape-1"></span></a>
            <a href="javascript:void(0)"><span class="icon-Vector-2"></span></a>
          </div>
        </div>
      </nav>
    </div>
  </div>