.signup {
    height: 100%;
  
    > div {
      > form {
        min-height: 671px;
  
        .signup__form {
          min-height: 551px;
  
          > h2 {
            margin-bottom: 32px;
          }
        }
      }
    }
  
    &__continue {
      margin-top: 62px;
      margin-bottom: 40px;
    }
  }
  
  .signup-field {
    .form-floating {
      .form-control {
        padding: 16px 12px;
        max-height: 48px;
        font-size: rem(14);
        padding-top: 23px;
        font-weight: 500;
  
        &:focus {
          border-color: $primary;
          outline: 0;
          box-shadow: 0 0 6px 2px rgba($primary, 0.3);
          border: 1px solid rgba($primary, 0.3);
        }
  
        &::placeholder {
          font-size: 14px;
          line-height: 20px;
          color: transparent;
        }
      }
  
      > label {
        top: -3px;
        font-size: 14px;
        line-height: 20px;
        color: hsl(0, 3%, 43%);
      }
    }
  
    .form-check {
      margin-top: 33px;
  
      &-input {
        border: 1px solid $black-400;
        border-radius: 2px;
  
        &:focus {
          outline: 0;
          box-shadow: none;
        }
  
        &:checked {
          background-color: $primary;
          border-color: $primary;
        }
      }
  
      &-label {
        font-size: 14px;
        line-height: 20px;
        color: $white;
  
        @include tablet {
          color: hsl(0, 3%, 43%);
        }
      }
    }
  }
  